@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
button:focus {outline:none !important;box-shadow:none;}

* {
    font-family: 'Montserrat', sans-serif;
}

#first{
    padding-top:30px;
}
.wrapper{
    width:100%;
    max-width:500px;
    margin: 0 auto;
    position:relative;
    display:flex;
    justify-content: center;
}
button{
    position:relative;
    display:inline-block;
    min-width:200px;
    height:100px;
    font-size:20px;
    font-weight: 800;
    color:#fff;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 20px 30px;
    transition: all 0.2s ease-in-out;
}

button::after{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.text{
    position:relative;
    z-index:99;
    margin-bottom: 10px;
}
.subtext{
    position:relative;
    z-index:99;
    font-size:15px;
    font-weight:400;
    margin:0;
    margin-bottom:10px;
}
button:hover{
    cursor: pointer;
}
button:hover::after{
    opacity: 0.8;
}


#toronto{
    background-image: url(imgs/toronto.jpg);
    background-size: cover;
}
#london{
    background-image: url(imgs/London.jpg);
    background-size: cover;
}
#bangkok{
    background-image: url(imgs/Bangkok.jpg);
    background-size: cover;
}
#moscow{
    background-image: url(imgs/moscow.jpg);
    background-size: cover;
}
#lima{
    background-image: url(imgs/lima.jpg);
    background-size: cover;
}
#cairo{
    background-image: url(imgs/cairo.jpg);
    background-size: cover;
}